.st-emotion-cache-1bzkvni.e1f1d6gn3:nth-child(2) {
    background-color: #f76262;
    border: 2px solid #CCCCCC;
    padding: 1% 4% 1% 4%;
    border-radius: 10px;
    color: black;
    text-align: center;
}
.st-emotion-cache-1bzkvni.e1f1d6gn3:nth-child(3) {
    background-color: #4ff562;
    border: 2px solid #CCCCCC;
    padding: 1% 4% 1% 4%;
    border-radius: 10px;
    color: black;
    text-align: center;
}
.st-emotion-cache-qgowjl.e1nzilvr4 {
    color: black;
}